.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-header {
  background-color: rgb(26, 132, 182);
  height: 200px;
  padding: 20px;

  font-style: bold;
  color: whitesmoke;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.three-ducks-container {
  display: block;
  
  height: 800px;

  background-color: rgba(98, 154, 180, 0.404);
}