.control__container {
    position: absolute;
    bottom: 20px;
    
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.control__action {
    width: 25%;
    height: 40px;
    margin: 0 2%;

    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;

    background-color: rgb(26, 132, 182);
    border: 2px solid whitesmoke;
    border-radius: 14px;
}