.timer-bar__container {
    position: absolute;
    top: 270px;
    
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
    
    background-color: rgb(26, 132, 182);
}