.status-bar__container {
    position: absolute;
    bottom: 200px;
    
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
}

.status-bar__status {
    color: black;
    opacity: 0.8;
}